<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontend</title>

    <link rel="stylesheet" href="src/assets/css/angular-material.css">
    <link rel="stylesheet" href="src/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body ng-app="myApp" ng-strict-di>
    <div id="banner-wrap" layout="row" layout-align="center none" style="height: 120px; ">
        <div id="banner" flex="100" flex-gt-xs="60" layout="row" style="background-color: #6c87a8;">
            <div flex="100" layout="row" layout-align="center center" flex-gt-md="30" style="padding: 5px;">
                <img style="height: 100%; width: 100%;" src="src/assets/img/logo.png" alt="logo">
            </div>
            <div hide show-gt-md flex-gt-md="70" layout="column"  layout-align="start end">
                <div id="social-wrapper" flex layout="row" layout-align="center start" style="height:40px; padding: 5px;">
                    <div class="social-border">
                        <md-button style="height:100%; min-width: inherit; min-height: inherit; width: 100%; padding: 0; margin: 0;">
                            <img src="src/assets/img/ic_facebook.png" alt="face">
                        </md-button>
                    </div>
                    <div class="social-border">
                        <md-button style="height:100%; min-width: inherit; min-height: inherit; width: 100%; padding: 0; margin: 0;">
                            <img src="src/assets/img/ic_github.png" alt="github">
                        </md-button>
                    </div>
                    <div class="social-border">
                        <md-button style="height:100%; min-width: inherit; min-height: inherit; width: 100%; padding: 0; margin: 0;">
                            <img src="src/assets/img/ic_linkedin.png" alt="linkedin">
                        </md-button>
                    </div>
                    <div class="social-border">
                        <md-button style="height:100%; min-width: inherit; min-height: inherit; width: 100%; padding: 0; margin: 0;">
                            <img src="src/assets/img/ic_twitter.png" alt="twitter">
                        </md-button>
                    </div>
                    <div class="social-border">
                        <md-button style="height:100%; min-width: inherit; min-height: inherit; width: 100%; padding: 0; margin: 0;">
                            <img src="src/assets/img/ic_youtube.png" alt="">
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Navigation bar -->
    <div id="navigation" flex layout="row" layout-align="center none">
        <div id="navbar" ng-controller="AppCtrl" hide show-gt-xs ng-cloak flex="100" flex-gt-xs="60" style="height: 50px; background-color: #666666;">
            <md-content >
                <md-nav-bar
                        md-no-ink-bar="disableInkBar"
                        md-selected-nav-item="currentNavItem"
                        nav-bar-aria-label="navigation links">
                    <md-nav-item md-nav-click="goto('page1')" name="page1">
                        Page One
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('page2')" name="page2">
                        Page Two
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('page3')" name="page3">
                        Page Three
                    </md-nav-item>
                    <!-- these require actual routing with ui-router or ng-route, so they
                    won't work in the demo
                    <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
                    <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
                    You can also add options for the <code>ui-sref-opts</code> attribute.
                    <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
                      Page Six
                    </md-nav-item>
                    -->
                </md-nav-bar>
            </md-content>
        </div>
        <div flex id="xs_navbar" show-xs hide-gt-xs flex layout="row" layout-align="start none" style="background-color: #737b9e;">
            <div flex layout="column">
                <md-button style="min-width: 30px;" ng-click="x_menu.open = !x_menu.open">Menu</md-button>
                <div ng-if="x_menu.open" style="height: 30px; border: 1px solid #9E9E9E; background-color: lightgreen"></div>
                <div ng-if="x_menu.open" style="height: 30px; border: 1px solid #9E9E9E; background-color: lightgreen"></div>
            </div>
        </div>
    </div>

    <!-- SIDE PANEL-->
    <div ng-controller="SideController" flex layout="row" layout-align="center none">
        <div flex="100" flex-gt-xs="60" layout="row" layout-align="center none" >
            <div id="page-container" flex="100" flex-gt-md="65" style="padding-top: 10px; border: 3px solid #ffe275;">
                <div id="page-header-container" flex="none" layout-padding layout="row" layout-align="start center" style="height: 50px;">
                    <h4><b>Başlık</b></h4>
                </div>
                <div ui-view ></div>
                <div id="page-navigator-wrapper" flex="none" layout="row" style="height: 50px; margin-top: 10px; border: 1px solid #FFE275">
                    <div id="page-navigator-pages" flex="30" layout="row" layout-align="start center">
                        <div flex="none" layout="row" layout-align="center center" style="width: 100px; border: 1px solid #f1c40f;">
                            <span>Page 1 of 3</span>
                        </div>
                        <div flex="none" layout="row" layout-align="center center" style="width: 50px; border: 1px solid #f1c40f;">
                            <span>1</span>
                        </div>
                        <div flex="none" layout="row" layout-align="center center" style="width: 50px; border: 1px solid #f1c40f;">
                            <span>2</span>
                        </div>
                        <div flex="none" layout="row" layout-align="center center" style="width: 50px; border: 1px solid #f1c40f;">
                            <span>3</span>
                        </div>
                    </div>
                    <div flex="50"></div>
                    <div id="page-navigator-iterator" flex="20">
                        <div></div>
                    </div>
                </div>
            </div>

            <div id="sidebar" hide show-gt-md flex-gt-md="35" layout-padding style="padding-top: 10px; border: 3px solid #ffe275">
                <div id="search-box" flex layout="column">
                    <div flex="none" style="height: 2px; background-color: #f1c40f"></div>
                    <div id="search-wrapper" flex="none" layout="row"  style="height:50px; margin: 15px 0 5px 0">
                        <div flex="80" style="padding: 0 5px 0 5px">
                            <md-input-container flex style="padding: 0; margin: 15px 0; width: 100%">
                                <label>Search</label>
                                <input ng-model="">
                            </md-input-container>
                        </div>
                        <div flex style="background-color: #ffe275">
                            <md-button ng-click="search()" layout="row" layout-align="center center" style="height:100%; min-width: inherit; width: 100%; padding: 0; margin: 0; background-color: #ffe275;">
                                <img src="src/assets/img/ic_search.png" alt="search">
                            </md-button>
                        </div>
                    </div>
                    <div flex="none" style="height: 2px; background-color: #f1c40f"></div>
                </div>
                <div id="popular_post" ng-include="'src/partials/sidebar.popular_posts.html'" style="height: 600px; margin-top:5px;"></div>
                <div id="blog-archive" ng-include="'src/partials/sidebar.blog_archive.html'" style="height: 120px; margin-top:5px;"></div>
                <div id="labels" ng-include="'src/partials/sidebar.labels.html'" style="height: 120px; margin-top:5px;"></div>
            </div>
        </div>
    </div>

    <div style="height: 100px; border: 2px solid yellow" layout="row" layout-align="center none">
        <div  flex="100" flex-gt-md="60" layout="row" layout-align="center none">
            <div flex="30" style="background-color: #ffe275">LOGO</div>
            <div id="email-subs" flex="70" layout="column" layout-align="center none">
                <div flex="30" layout="row" layout-align="start center" layout-padding style="background-color: lightgreen;">
                    <span>E-posta abonemiz olun</span>
                </div>
                <div id="email-box" flex="none" layout="row" style="background-color: #6c87a8; height: 50px;">
                    <div flex="80" layout="row" layout-align="start center">
                        <div flex style="background-color: #9499ff; padding: 0 10px 0 10px;">
                            <md-input-container flex style="padding: 0; margin: 15px 0; width: 100%">
                                <label>Search</label>
                                <input ng-model="">
                            </md-input-container>
                        </div>
                    </div>
                    <div flex="20" layout="row" layout-align="center center">
                        <md-button style="height:100%; min-width: inherit; width: 100%; padding: 0; margin: 0; background-color: #ffe275;">Abone Ol</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="center center" style="height: 60px; background-color: #333333;">
        <span class="md-caption" style="color: white;">Copyright © 2018 <span class="copyright">Blogish Style 2</span> All Right Reserved | Blogger Templates Created with  by MS Design TemplateMark</span>
    </div>

    <script src="src/assets/js/angular.min.js"></script>
    <script src="src/assets/js/angular-animate.min.js"></script>
    <script src="src/assets/js/angular-aria.min.js"></script>
    <script src="src/assets/js/angular-messages.min.js"></script>

    <script src="src/assets/js/angular-material.min.js"></script>
    <script src="src/assets/js/angular-ui-router.min.js"></script>
    <script src="src/modules/app.module.js"></script>
    <script src="src/controllers/app.controller.js"></script>
    <script src="src/routes/main.routes.js"></script>
</body>
</html>