<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontend</title>

    <link rel="stylesheet" href="src/assets/css/angular-material.css">
    <link rel="stylesheet" href="src/assets/css/style.css">
</head>
<body ng-app="myApp" ng-strict-di>
    <div id="banner-wrap" layout="row" layout-align="center none" style="height: 120px; ">
        <div id="banner" flex="100" flex-gt-xs="60" layout="row" style="background-color: #6c87a8;">
            <div flex="100" flex-gt-md="30"></div>
            <div hide show-gt-md flex-gt-md="70" layout="column"  layout-align="start end">
                <div layout="row" layout-align="center center" style="height:40px; width: 300px; background-color: #e1e1e1; padding: 5px;">
                    <div class="social-border"></div>
                    <div class="social-border"></div>
                    <div class="social-border"></div>
                    <div class="social-border"></div>
                    <div class="social-border"></div>
                    <div class="social-border"></div>
                    <div class="social-border"></div>
                    <div class="social-border"></div>
                </div>
            </div>
        </div>
    </div>
    <div flex layout="row" layout-align="center none">
        <div id="navbar" ng-controller="AppCtrl" hide show-gt-xs ng-cloak flex="100" flex-gt-xs="60" style="height: 50px; background-color: #666666;">
            <md-content >
                <md-nav-bar
                        md-no-ink-bar="disableInkBar"
                        md-selected-nav-item="currentNavItem"
                        nav-bar-aria-label="navigation links">
                    <md-nav-item md-nav-click="goto('page1')" name="page1">
                        Page One
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('page2')" name="page2">
                        Page Two
                    </md-nav-item>
                    <md-nav-item md-nav-click="goto('page3')" name="page3">
                        Page Three
                    </md-nav-item>
                    <!-- these require actual routing with ui-router or ng-route, so they
                    won't work in the demo
                    <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
                    <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
                    You can also add options for the <code>ui-sref-opts</code> attribute.
                    <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
                      Page Six
                    </md-nav-item>
                    -->
                </md-nav-bar>
            </md-content>
        </div>
        <div flex id="xs_navbar" show-xs hide-gt-xs flex layout="row" layout-align="start none" style="background-color: #737b9e;">
            <div flex layout="column">
                <md-button style="min-width: 30px;" ng-click="x_menu.open = !x_menu.open">Menu</md-button>
                <div ng-if="x_menu.open" style="height: 30px; border: 1px solid #9E9E9E; background-color: lightgreen"></div>
                <div ng-if="x_menu.open" style="height: 30px; border: 1px solid #9E9E9E; background-color: lightgreen"></div>
            </div>
        </div>
    </div>
    <div flex layout="row" layout-align="center none">
        <div flex="100" flex-gt-xs="60" layout="row" layout-align="center none" >
            <div id="blog-post" flex="100" flex-gt-md="65" layout-padding style="padding-top: 10px; border: 3px solid #ffe275;">
                <div flex="none" layout="row" layout-align="start center" style="height: 50px;">
                    <span><b>Başlık</b></span>
                </div>
                <div id="post-wrapper" flex layout="column" style="background-color: #e1e1e1;">
                    <div class="post" layout="row">
                        <div flex="30" style="width: 140px; min-width: 140px; background-color: red"></div>
                        <div flex layout="column">
                            <div class="post-header" flex="30" layout="row" layout-align="center center" style="background-color: sandybrown;">
                                <span><b>Başlık</b></span>
                            </div>
                            <div layout="row" class="post-summary" flex style="padding: 5px;">
                                <md-content flex layout-padding style="overflow:hidden;">
                                    Lorem Ipsum, diasdasdasdasdasdasdasdasdasdasdzgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" hide show-gt-md flex-gt-md="35" layout-padding style="padding-top: 10px; border: 3px solid #ffe275">
                <div id="search-box" flex layout="column">
                    <div flex="none" style="height: 2px; background-color: #f1c40f"></div>
                    <div id="search-wrapper" flex="none" layout="row"  style="height:50px; margin: 15px 0 5px 0">
                        <div flex="80" style="padding: 0 5px 0 5px">
                            <md-input-container flex style="padding: 0; margin: 15px 0; width: 100%">
                                <label>Search</label>
                                <input ng-model="user.title">
                            </md-input-container>
                        </div>
                        <div flex style="background-color: #ffe275">
                            <md-button layout="row" layout-align="center center" style="height:100%; min-width: inherit; width: 100%; padding: 0; margin: 0; background-color: #ffe275;">
                                <span>Ara</span>
                            </md-button>
                        </div>
                    </div>
                    <div flex="none" style="height: 2px; background-color: #f1c40f"></div>
                </div>
                <div id="popular_post" style="height: 600px; margin-top:5px;">
                    <div flex style="height: 30px; ">
                        <div style="height: 2px; background-color: #f1c40f"></div>
                        <div layout="row" layout-align="center center" style="background-color: #ffffff">
                            <div layout="row" layout-align="center center" style="height: 100%; width: 150px; background-color: #f1c40f; color: #ffffff; font: 500 14px 'Rubik', arial, sans-serif;">
                                <b>POPULAR POSTS</b>
                            </div>
                        </div>
                    </div>
                    <div flex style="height: 15px;"></div>
                    <div flex layout="column">
                        <div flex="none" layout="row" style="height: 110px; background-color: #ffdb89; padding: 5px">
                            <div flex="none" style="width: 100px; background-color: orangered"></div>
                            <div flex layout="column" style="padding: 5px; height: 100%;">
                                <div flex="40"><b>başlık başlık başlık başlık</b></div>
                                <div flex="60"><span>dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. </span></div>
                            </div>
                        </div>
                        <div flex="none" layout="row" style="height: 110px; background-color: #ffdb89; padding: 5px">
                            <div flex="none" style="width: 100px; background-color: orangered"></div>
                            <div flex layout="column" style="padding: 5px; height: 100%;">
                                <div flex="40"><b>başlık başlık başlık başlık</b></div>
                                <div flex="60"><span>dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. </span></div>
                            </div>
                        </div>
                        <div flex="none" layout="row" style="height: 110px; background-color: #ffdb89; padding: 5px">
                            <div flex="none" style="width: 100px; background-color: orangered"></div>
                            <div flex layout="column" style="padding: 5px; height: 100%;">
                                <div flex="40"><b>başlık başlık başlık başlık</b></div>
                                <div flex="60"><span>dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. </span></div>
                            </div>
                        </div>
                        <div flex="none" layout="row" style="height: 110px; background-color: #ffdb89; padding: 5px">
                            <div flex="none" style="width: 100px; background-color: orangered"></div>
                            <div flex layout="column" style="padding: 5px; height: 100%;">
                                <div flex="40"><b>başlık başlık başlık başlık</b></div>
                                <div flex="60"><span>dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. </span></div>
                            </div>
                        </div>
                        <div flex="none" layout="row" style="height: 110px; background-color: #ffdb89; padding: 5px">
                            <div flex="none" style="width: 100px; background-color: orangered"></div>
                            <div flex layout="column" style="padding: 5px; height: 100%;">
                                <div flex="40"><b>başlık başlık başlık başlık</b></div>
                                <div flex="60"><span>dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. </span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="labels" style="height: 120px; margin-top:5px;">
                    <div flex style="height: 30px; ">
                        <div style="height: 2px; background-color: #f1c40f"></div>
                        <div layout="row" layout-align="center center" style="background-color: #ffffff">
                            <div layout="row" layout-align="center center" style="height: 100%; width: 150px; background-color: #f1c40f; color: #ffffff; font: 500 14px 'Rubik', arial, sans-serif;">
                                <b>BLOG ARCHIVE</b>
                            </div>
                        </div>
                    </div>
                    <div flex style="height: 15px;"></div>
                </div>
                <div id="social" style="height: 120px; margin-top:5px;">
                    <div flex style="height: 30px; ">
                        <div style="height: 2px; background-color: #f1c40f"></div>
                        <div layout="row" layout-align="center center" style="background-color: #ffffff">
                            <div layout="row" layout-align="center center" style="height: 100%; width: 150px; background-color: #f1c40f; color: #ffffff; font: 500 14px 'Rubik', arial, sans-serif;">
                                <b>LABELS</b>
                            </div>
                        </div>
                    </div>
                    <div flex style="height: 15px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 100px; border: 2px solid yellow" layout="row" layout-align="center none">
        <div  flex="100" flex-gt-md="60" layout="row" layout-align="center none">
            <div flex="30" style="background-color: #ffe275">LOGO</div>
            <div id="email-subs" flex="70" layout="column" layout-align="center none">
                <div flex="30" layout="row" layout-align="start center" layout-padding style="background-color: lightgreen;">
                    <span>E-posta abonemiz olun</span>
                </div>
                <div id="email-box" flex="none" layout="row" style="background-color: #6c87a8; height: 50px;">
                    <div flex="80" layout="row" layout-align="start center">
                        <div flex style="background-color: #9499ff; padding: 0 10px 0 10px;">
                            <md-input-container flex style="padding: 0; margin: 15px 0; width: 100%">
                                <label>Search</label>
                                <input ng-model="">
                            </md-input-container>
                        </div>
                    </div>
                    <div flex="20" layout="row" layout-align="center center">
                        <md-button style="height:100%; min-width: inherit; width: 100%; padding: 0; margin: 0; background-color: #ffe275;">Abone Ol</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="center center" style="height: 60px; background-color: #333333;">
        <span style="color: white; font-weight: 500; font-size: 12px;">Copyright © 2018 <span class="copyright">Blogish Style 2</span> All Right Reserved | Blogger Templates Created with  by MS Design TemplateMark</span>
    </div>

    <script src="src/assets/js/angular.min.js"></script>
    <script src="src/assets/js/angular-animate.min.js"></script>
    <script src="src/assets/js/angular-aria.min.js"></script>
    <script src="src/assets/js/angular-messages.min.js"></script>

    <script src="src/assets/js/angular-material.min.js"></script>
    <script src="src/modules/app.module.js"></script>
    <script src="src/controllers/app.controller.js"></script>
</body>
</html>