
<div id="post-wrapper" layout-padding flex layout="column" style="background-color: #e1e1e1;">
    <div class="post" layout="row">
        <div flex="30" style="width: 140px; min-width: 140px; background-color: red"></div>
        <div flex layout="column">
            <div class="post-header" flex="30" layout="row" layout-align="center start" style="background-color: sandybrown; padding-top: 3px;">
                <h4>Başlık</h4>
            </div>
            <div layout="row" class="post-summary" flex="50" style="padding: 3px;">
                <md-content flex style="overflow:hidden; padding: 3px">
                    <p>
                        Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
                    </p>
                </md-content>
            </div>
            <div flex="20" layout="row" layout-align="start center" style="padding: 0 3px 0 3px">
                <span><b>Yazar:</b></span>
            </div>
        </div>
    </div>
    <div class="post" layout="row">
        <div flex="30" style="width: 140px; min-width: 140px; background-color: red"></div>
        <div flex layout="column">
            <div class="post-header" flex="30" layout="row" layout-align="center start" style="background-color: sandybrown; padding-top: 3px;">
                <h4>Başlık</h4>
            </div>
            <div layout="row" class="post-summary" flex="50" style="padding: 3px;">
                <md-content flex style="overflow:hidden; padding: 3px">
                    <p>
                        Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
                    </p>
                </md-content>
            </div>
            <div flex="20" layout="row" layout-align="start center" style="padding: 0 3px 0 3px">
                <span><b>Yazar:</b></span>
            </div>
        </div>
    </div>
    <div class="post" layout="row">
        <div flex="30" style="width: 140px; min-width: 140px; background-color: red"></div>
        <div flex layout="column">
            <div class="post-header" flex="30" layout="row" layout-align="center start" style="background-color: sandybrown; padding-top: 3px;">
                <h4>Başlık</h4>
            </div>
            <div layout="row" class="post-summary" flex="50" style="padding: 3px;">
                <md-content flex style="overflow:hidden; padding: 3px">
                    <p>
                        Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
                    </p>
                </md-content>
            </div>
            <div flex="20" layout="row" layout-align="start center" style="padding: 0 3px 0 3px">
                <span><b>Yazar:</b></span>
            </div>
        </div>
    </div>
</div>
